/node_modules
/bootstrap
/public/storage
/storage/*.key
/tests
/vendor
/.idea
/resources/views/admin/angular.blade.php
/resources/views/client/angular.blade.php
Homestead.json
Homestead.yaml
.env
.htaccess
