<div class="container" ng-controller="DevicesController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Devices
                        </div>

                        <div class="panel-body">

                            <uib-accordion close-others="oneAtATime">
                                <div class="device_accordion_wrapper" ng-repeat="device in devices">
                                    <div uib-accordion-group
                                         class="panel-default"
                                         heading="{{ device.model }}"
                                         is-open="deviceAccordionIsOpen[$index]"
                                    >												
										<div class="alert alert-success device_updated animate-show" ng-show="deviceUpdated[device.id]">
											<strong>Device info updated!</strong>
										</div>

                                        <div class="col-md-4">
                                            <h4>Add accessories:</h4>
                                            <div class="accessories_list_container">
                                                <div class="accessories_list" slimscroll="{height: 200}">
                                                    <div class="checkbox accessory_block" ng-repeat="accessory in accessories">
                                                        <input class="accessory" type="checkbox"
                                                               ng-model="selectedAccessories[device.id][accessory.id]"
                                                               ng-change="acessoryStateChanged(device.id, accessory.id)"

                                                        >
                                                        {{ accessory.part_number }} | Price: {{ accessory.price }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Chosen items:</h4>
                                            <div class="chosen_accessories_list_container" slimscroll="{height: 200}">
                                                <div class="chosen_accessories_list">
                                                    <div class="checkbox accessory_block" ng-repeat="chosenAccessory in chosenAccessoriesList[device.id]">
                                                        <input class="accessory" type="checkbox"
                                                               ng-model="selectedAccessories[device.id][chosenAccessory.id]"
                                                               ng-change="acessoryStateChanged(device.id, chosenAccessory.id)"
                                                        >
                                                        {{ chosenAccessory.part_number }} | Price: {{ chosenAccessory.price }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="btn btn-danger"
                                                     ng-click="addAccessories(device.id)"
                                                     style="float: right; margin-bottom: 20px;">
                                                    Add Accessories
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>