<div class="container" ng-controller="editQuoteController">
    <div class="row">
        <div class="col-md-12">
		
			<div class="animate-show" ng-show="loadingError">
				<div class="col-md-6" style="padding-top:0px;">					
					<div class="alert alert-danger" style="margin-bottom:0px;">
						<strong>Some error occured! Try to refresh the page.</strong>
					</div>
				</div>		
			</div>
			
			<div class="animate-show" ng-show="showQuoteForm">
				<div class="panel panel-default dashboard_edit_quote">
					
					<div class="panel-heading">
						Edit quote #{{ quote.id }}
					</div>

					<div class="panel-body">
						<div class="col-sm-9">
							<button ng-click="saveQuote('save')" class="btn btn-primary">
								Save
							</button>
							<button ng-click="saveQuote('save-exit')" class="btn btn-primary">
								Save and exit
							</button>
							<div class="clearfix"></div>
						</div>
						<div class="col-sm-3">
							<div class="form-group" style="float:right;">
								<label for="editor">Select quote editor:</label>
								<select class="form-control" id="editor" ng-model="quoteData[quote.id].editor">
									<option value="jesse">Jesse Harwell</option>
									<option value="laine">Laine Dobson</option>
									<option value="greg">Greg Bentz</option>
								</select>
							</div>
							<div class="clearfix"></div>
						</div>
						
						<div class="col-md-12 animate-show" ng-show="showQuoteSaveSuccessMessage">					
							<div class="alert alert-success">
								<strong>Quote saved!</strong>
							</div>
						</div>
						
						<div class="col-md-12 animate-show" ng-show="showQuoteSaveErrorMessage">					
							<div class="alert alert-danger">
								<strong>Some error occured! Try once again.</strong>
							</div>
						</div>
					
						<div class="col-md-12">
							<div class="panel panel-info">
								<div class="panel-heading">
									Add user
								</div>
								
								<div class="panel-body">
									<div class="col-md-6">
										<div class="form-group user_form">
											<a id="user"></a>
											<select class="form-control" id="user_type"
													ng-model="quoteData[quote.id].user_type" 
													ng-change="changedUserType(quoteData[quote.id].user_type)"
											>
												<option value="new" ng-selected="quoteData[quote.id].user_type == 'new' || quoteData[quote.id].user_type == ''">New User</option>
												<option value="capsule" ng-selected="quoteData[quote.id].user_type == 'capsule'">CapsuleCRM User</option>
											</select>
											<br>
											<div class="alert alert-danger"
												ng-show="quoteData[quote.id].client_email == '' && userInputError && quoteData[quote.id].user_type == 'capsule'">
												<strong>Choose Capsule CRM User!</strong>
											</div>
											Username (*):
											<input type="text"
												   class="form-control"
												   ng-model="quoteData[quote.id].client_username"
												   ng-disabled="quoteData[quote.id].user_type == 'capsule'"
												   ng-class="{error: (quoteData[quote.id].client_username == '' && userInputError)}"
												   ng-change="checkForEmptyInput(quoteData[quote.id].client_username)"
											/>
											<span class="error_message"
													ng-show="quoteData[quote.id].client_username == '' && userInputError && quoteData[quote.id].user_type == 'new'">
												Please fill in this field
												<br>
											</span>
											<br>
											Company name (if specified) (*):
											<input type="text"
												   class="form-control"
												   ng-model="quoteData[quote.id].client_company"
												   ng-disabled="quoteData[quote.id].user_type == 'capsule'"
												   ng-class="{error: (quoteData[quote.id].client_company == '' && userInputError)}"
												   ng-change="checkForEmptyInput(quoteData[quote.id].client_company)"
											/>
											<span class="error_message"
												ng-show="quoteData[quote.id].client_company == '' && userInputError && quoteData[quote.id].user_type == 'new'"
											>
												Please fill in this field
												<br>
											</span>
											<br>
											E-mail (if specified) (*):
											<input type="text"
												   class="form-control"
												   ng-model="quoteData[quote.id].client_email"
												   ng-disabled="quoteData[quote.id].user_type == 'capsule'"
												   ng-class="{error: (quoteData[quote.id].client_email == '' && userInputError)}"
												   ng-change="checkForEmptyInput(quoteData[quote.id].client_email)"
											/>
											<span class="error_message"
													ng-show="quoteData[quote.id].client_email == '' && userInputError && quoteData[quote.id].user_type == 'new'"
											>
												Please fill in this field
												<br>
											</span>
											(*) - mandatory fields
										</div>
									</div>
									<div class="col-md-6">
										<div class="clients_list_container">
											<div class="col-md-12 animate-show" style="margin-top:5px;" ng-show="!loadingCapsuleUsers">
												<h5 style="margin-bottom:0px;"><strong>Search Capsule CRM user:</strong></h5>
												<div style="margin-bottom:10px;">(nothing will appear if firstname is left blank)</div>
												<div class="col-md-6">
													By firstname:
													<input type="text"
														   class="form-control"
														   ng-model="searchUserByFirstname"
													/>
												</div>
												<div class="col-md-6">
													By lastname:
													<input type="text"
														   class="form-control"
														   ng-model="searchUserByLastname"
													/>
												</div>
												<div class="col-md-8">
													By email:
													<input type="text"
														   class="form-control"
														   ng-model="searchUserByEmail"
													/>
												</div>
											</div>
											<div class="col-md-12 animate-show" ng-show="loadingCapsuleUsers" style="text-align:center;">
												Loading...
												<br>
												<img src="../public/img/loading.gif" />
											</div>
											<div class="col-md-12 animate-show" ng-show="!loadingCapsuleUsers">
												<div id="clients_list">										
													<div class="form-group">
														<div class="capsule_client_block"
														ng-repeat="capsuleUser in capsuleUsers.contacts |
														filter: {
																contacts:
																	{email:
																		{emailAddress: searchUserByEmail}},
																firstName: searchUserByFirstname,
																lastName: searchUserByLastname
																} | showNothingIfQueryIsBlank: searchUserByFirstname"												
														 ng-click="selectCapsuleUser(capsuleUser)"
														 ng-class="{'ui-selected': selectedCapsuleUser == capsuleUser.id}"
														>
															<div class="client_image">
																<img ng-src="{{ capsuleUser.pictureURL }}" />
															</div>
															<div class="client_contacts">													
																<h5 class="capsule_username" ng-if="capsuleUser.firstName">Firstname: <span>{{ capsuleUser.firstName }}</span></h5>
																<h5 class="capsule_username" ng-if="capsuleUser.lastName">Lastname: <span>{{ capsuleUser.lastName }}</span></h5>														
																<div class="contact" ng-if="capsuleUser.organisationName">Company:
																	<span>
																		{{ capsuleUser.organisationName }}
																	</span>
																</div>
																<div class="contact" ng-if="capsuleUser.contacts.email.emailAddress">Email:
																	<span>
																		{{ capsuleUser.contacts.email.emailAddress }}
																	</span>
																</div>
																<span class="contact details"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	

							<div class="panel panel-warning">
								<div class="panel-heading">
									Device list
								</div>

								<div class="panel-body">
								
									<div class="col-md-12">
										Choose a device from a form below and press the button (max 4 allowed for now):<br>
										<div class="btn btn-danger" id="add_device" ng-click="addDeviceToQuote()">Add Device</div>
									</div>
						
									<div class="col-md-12 animate-show" ng-show="showDeviceIsAlreadyAddedMessage">					
										<div class="alert alert-warning">
											<strong>This device is already in the list!</strong>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<strong ng-if="mostQuotedDevices.length">Most common quoted devices (max 3 showing):</strong>
											<div id="most_quoted">
												<div class="quoted_device_block"
													 ng-repeat="mostQuotedDevice in mostQuotedDevices"
													 ng-click="selectDevice(mostQuotedDevice.id)"
													 ng-class="{'ui-selected': selectedDevice == mostQuotedDevice.id}"
												>
													<div class="device_params" >
													
														<h4 id="device_title"> 
															{{ mostQuotedDevice.model }}
														</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<strong>Choose from a list below:</strong>
											<div class="devices_list_container">
												<div id="devices_list" slimscroll="{height: 280, wheelStep: 5}">
													<div class="quoted_device_block"
														 ng-repeat="device in devices"
														 ng-click="selectDevice(device.id)"
														 ng-class="{'ui-selected': selectedDevice == device.id}"
													>
														<div class="device_image">
															<img ng-if="device.created_by == 'csv_upload'" ng-src="{{ device.image }}" /> 
															<img ng-if="device.created_by == 'user'" ng-src="../{{ device.image }}" /> 
														</div>
														<div class="device_params">
															<h4 id="device_title">
																{{ device.model }}
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-warning add_devices_outright_price_wrapper">
								<div class="panel-heading">
									Total outright purchase price
								</div>

								<div class="panel-body">
									<div class="col-md-12">											
										<input type="checkbox"
												class="checkbox"
												id="add_devices_outright_price_slider"
												ng-model="quoteData[quote.id].sum_up"
												ng-checked="quoteData[quote.id].sum_up"
											   ng-true-value="1"
											   ng-false-value="0"
											/>
										<label for="add_devices_outright_price_slider">
											Sum up devices outright purchase price in the client view
										</label>
									</div>
								</div>
							</div> 						
							
							<uib-accordion close-others="oneAtATime">
								<div class="device_accordion_wrapper" ng-repeat="deviceOptions in addedDevices">
									<div uib-accordion-group
										 class="panel-info"
										 heading="{{ deviceOptions.model }}"
										 is-open="deviceAccordionIsOpen[$index]"
									>
										<div class="col-md-12 accessories_block quoted_devices_form" style="margin-bottom: 20px;">
											<div class="col-md-12" style="margin-bottom: 20px;">
												<div class="col-md-4">
													<strong style="display: block;">
														Which type of purchase is this?
													</strong>
													<br>
													<div class="form-group">														
														<input type="checkbox" class="checkbox"
																id="allowed_prices_{{deviceOptions.id}}_purchase"
																ng-model="quoteData[quote.id].allowed_prices[deviceOptions.id].purchase"
														/>
														<label for="allowed_prices_{{deviceOptions.id}}_purchase">
															Allow Purchase Price
														</label>
													</div>
													<div class="form-group">														
														<input type="checkbox" class="checkbox"
																id="allowed_prices_{{deviceOptions.id}}_fmv"
																ng-model="quoteData[quote.id].allowed_prices[deviceOptions.id].fmv"
														/>
														<label for="allowed_prices_{{deviceOptions.id}}_fmv">
															Allow FMV Lease Rates
														</label>
													</div>
													<div class="form-group">														
														<input type="checkbox" class="checkbox"
																id="allowed_prices_{{deviceOptions.id}}_one_out"
																ng-model="quoteData[quote.id].allowed_prices[deviceOptions.id].one_out"
														/>
														<label for="allowed_prices_{{deviceOptions.id}}_one_out">
															Allow $1 Out Lease Rates
														</label>
													</div>
												</div>
												<div class="col-md-6">
													<strong style="display: block;">
														Choose which rates to use for calculating the FMV and $1-Out costs:
													</strong>
													<br>
													<div class="form-group">
														<select class="form-control" id="rates_options_{{deviceOptions.id}}"
																ng-model="quoteData[quote.id].rates_options[deviceOptions.id]" 
														>
															<option value="basic" ng-selected="quoteData[quote.id].rates_options[deviceOptions.id] == 'basic' || quoteData[quote.id].rates_options[deviceOptions.id] == ''">Basic rates (from Copierleasecenter.com)</option>
															<option value="marlin" ng-selected="quoteData[quote.id].rates_options[deviceOptions.id] == 'marlin'">Marlin sheet rates</option>
															<option value="either" ng-selected="quoteData[quote.id].rates_options[deviceOptions.id] == 'either'">Either (Let the client choose)</option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div style="float: right; text-align: right;">
														<strong>
															Remove this device:
														</strong>
													</div>
													<br>
													<div class="btn btn-danger"
														 ng-click="removeDeviceFromQuote(deviceOptions.id)"
														 style="float: right; margin-bottom: 20px;">
														Remove
													</div>													
												</div>
											</div>
											<div class="col-md-12">
												<div class="col-md-9">
													<div class="well well-sm">
														<h4>Add basic accessories:</h4>
														<div ng-if="deviceOptions.accessories.length">
															Slider in the left position: don't display in the client view;
															<br>Slider in the middle position: display, don't select by default;
															<br>Slider in the right position: display, select by default.
														</div>
														<div ng-if="!deviceOptions.accessories.length">
															No accessories added in 'Device' edit form
														</div>
														<div>														
															<table class="table table-bordered basic_accessories" ng-if="deviceOptions.accessories.length">
																<thead>
																	<tr>
																		<th style="width:15%;">&nbsp;</th>
																		<th>Part number</th>
																		<th>Description</th>
																		<th>Cost</th>
																		<th>Price</th>
																	</tr>
																</thead>
																<tbody> 
																	<tr ng-repeat="accessory in deviceOptions.accessories">
																		<td>																		
																			<md-content style=" width:60px;">
																				<md-slider-container>
																					<md-slider
																						flex=""
																						min="0"
																						max="2"
																						step="1"
																						ng-model="quoteData[quote.id].added_accessories[deviceOptions.id][accessory.id].status"
																						 class="md-primary"
																						 aria-label="blue"
																					>
																					</md-slider>
																				</md-slider-container>
																			</md-content>
																		</td>
																		<td>
																			<label for="accessory_{{deviceOptions.id}}_{{accessory.id}}">
																				{{ accessory.part_number }} 
																			</label>
																		</td>
																		<td>																			
																			<label for="accessory_{{deviceOptions.id}}_{{accessory.id}}">
																				{{ accessory.description }}
																			</label>
																		</td>
																		<td>
																			<input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].accessories_prices[accessory.id].cost">
																		</td>
																		<td>		
																			<input type="text" class="form-control"
																				ng-model="quoteData[quote.id].prices[deviceOptions.id].accessories_prices[accessory.id].price"
																				ng-change="quoteData[quote.id].added_accessories[deviceOptions.id][accessory.id].price = quoteData[quote.id].prices[deviceOptions.id].accessories_prices[accessory.id].price"
																			>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
															
													</div>
												</div>
											</div>
											<br>
											<div class="col-md-12">
												<div class="col-md-9">
													<div class="well well-sm">
														<h4>Add custom accessories:</h4> 
														<div style="min-height:40px;">
															<div class="btn btn-warning"
																 ng-click="addCustomAccessories(deviceOptions.id)"
																 style="float: right; margin-bottom: 20px;">
																Add Accessory
															</div>
														</div>
														<div class="form-group" ng-repeat="custom_accessory in deviceOptions.custom_accessories">
															<strong>Accessory # {{ $index + 1 }}</strong>
															<div class="col-md-12">
																<div class="col-md-6" style="padding-left: 0px;">
																	Part number:
																	<input type="text" class="form-control"
																		ng-model="quoteData[quote.id].custom_accessories[deviceOptions.id][custom_accessory.id].part_number">
																</div>
																<div class="col-md-6" style="padding-left: 0px;">
																	Price:
																	<input type="text" class="form-control"
																		ng-model="quoteData[quote.id].custom_accessories[deviceOptions.id][custom_accessory.id].price">
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="col-md-12">	
																<div class="form-group">
																	Description:
																	<textarea class="form-control" rows="5"
																		ng-model="quoteData[quote.id].custom_accessories[deviceOptions.id][custom_accessory.id].description"></textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	Delete this accessory:																	
																	<br>
																	<div class="btn btn-danger"
																		 ng-click="deleteCustomAccessory(quote.id, deviceOptions.id, custom_accessory.id)"
																		 style="margin-bottom: 20px;">
																		Delete
																	</div>
																</div>
															</div>
															<div class="clearfix"></div>																
															 
														</div>
													</div>
													
												</div>
												<div class="col-md-3">
												</div>
											</div>										
											<br>
											<div class="col-md-12">
												<div class="col-md-9">
													<div class="well well-sm">
														<h4>Display basic descriptions:</h4>
														<div>
															<input type="checkbox" class="checkbox"
																	id="description_{{deviceOptions.id}}_pdf"
																	ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].pdf"
																	ng-true-value="'{{deviceOptions.pdf}}'"
																	ng-false-value="null"
																	ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].pdf != null"
															/>
															<label for="description_{{deviceOptions.id}}_pdf">
																Display PDF?
															</label>
															<a ng-if="deviceOptions.created_by == 'user'" target="_self" href="../{{deviceOptions.pdf}}">
																PDF link
															</a>
															<a ng-if="deviceOptions.created_by == 'csv_upload'" target="_self" href="{{deviceOptions.pdf}}">
																PDF link
															</a>
														</div>
														<div>
															<input type="checkbox" class="checkbox"
																	id="description_{{deviceOptions.id}}_ced"
																	ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].ced"
																	ng-true-value="'{{deviceOptions.ced}}'"
																	ng-false-value="null"
																	ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].ced != null"
															/>
															<label for="description_{{deviceOptions.id}}_ced">
																Display CED?
															</label>
															<a target="_self" href="{{deviceOptions.ced}}">
																CED link
															</a>
														</div>
														<div>
															<input type="checkbox" class="checkbox"
																	id="description_{{deviceOptions.id}}_color_or_mono"
																ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].color_or_mono"
																ng-true-value="'{{deviceOptions.color_or_mono}}'"
																ng-false-value="null"
																ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].color_or_mono != null"
															/>
															<label for="description_{{deviceOptions.id}}_color_or_mono">
																Color/mono
															</label> {{ deviceOptions.color_or_mono }}
														</div>
														<div>
															<input type="checkbox" class="checkbox"
																	id="description_{{deviceOptions.id}}_paper_size"
																ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].paper_size"
																ng-true-value="'{{deviceOptions.paper_size}}'"
																ng-false-value="null"
																ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].paper_size != null"
															/>
															<label for="description_{{deviceOptions.id}}_paper_size">
																Paper size:
															</label> {{ deviceOptions.paper_size }}
														</div>
														<div>
															<input type="checkbox" class="checkbox"
																	id="description_{{deviceOptions.id}}_speed"
																ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].speed"
																ng-true-value="'{{deviceOptions.speed}}'"
																ng-false-value="null"
																ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].speed != null"
															/>
															<label for="description_{{deviceOptions.id}}_speed">
																Speed:
															</label> {{ deviceOptions.speed }}
														</div>
													</div>
												</div>
												<div class="col-md-3">
												</div>
											</div>
											<br>
											<div class="col-md-12">
												<div class="col-md-9">
													<div class="well well-sm">
														<h4>Add custom descriptions:</h4>  
														<div style="min-height:40px;">
															<div class="btn btn-warning"
																 ng-click="addCustomDescriptions(deviceOptions.id)"
																 style="float: right; margin-bottom: 20px;">
																Add Description
															</div>
														</div>
														<div class="form-group" ng-repeat="custom_description in deviceOptions.custom_descriptions">														
															<div class="col-md-12">
																Description # {{ $index + 1 }}
																<br>
																<div class="col-md-3" style="padding-left: 0px;">
																	Name:
																	<input type="text" class="form-control"
																		ng-model="quoteData[quote.id].custom_descriptions[deviceOptions.id][custom_description.id].name">
																</div>
																<div class="col-md-12" style="padding-left: 0px;">
																	Value:
																	<input type="text" class="form-control"
																		ng-model="quoteData[quote.id].custom_descriptions[deviceOptions.id][custom_description.id].value">
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	Delete this description:																	
																	<br>
																	<div class="btn btn-danger"
																		 ng-click="deleteCustomDescription(quote.id, deviceOptions.id, custom_description.id)"
																		 style="margin-bottom: 20px;">
																		Delete
																	</div>
																</div>
															</div>
															<div class="clearfix"></div>																
															<input type="hidden"
																ng-model="quoteData[quote.id].custom_descriptions[deviceOptions.id][custom_description.id].id"
																ng-value="{{custom_description.id}}"
															> 
														</div>
													</div>
													
												</div>
												<div class="col-md-3">
												</div>
											</div>	

											<div class="col-md-12 number_of_incl_pages">
												<div class="col-md-6">
													<h4>Device cost/price:</h4>
													<div class="form-group">
														<div class="col-md-6">
															<label>Cost:</label>	
															<input type="text" class="form-control" disabled value="{{ deviceOptions.cost }}">
														</div>
														<div class="col-md-6">
															<label>Price:</label>
															<input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].price">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<h4>Maintenance (service base):</h4>
													<div class="form-group">
														<div class="col-md-6">
															<label>Cost:</label>
															<input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].maintenance_cost">
														</div>
														<div class="col-md-6">
															<label>Price:</label>
															<input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].maintenance_price">
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-12">
												<div class="col-md-6">
													<h4>Enter a number of included pages:</h4>
													<h5>(if left blank, no field with number of included pages will be displayed)</h5>
													<div class="form-group">
														<div class="col-md-6">
															<label>Color:</label>	
															<input type="text" class="form-control" ng-model="quoteData[quote.id].included_pages[deviceOptions.id].color">
														</div>
														<div class="col-md-6">
															<label>B&W:</label>
															<input type="text" class="form-control" ng-model="quoteData[quote.id].included_pages[deviceOptions.id].mono">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<h4>Additional printed pages cost/price ($):</h4>
													<div class="form-group">
														<div class="col-md-6">
															<label>Color:</label>
															<input type="text" class="form-control" disabled value="{{ deviceOptions.cost_per_color_page }}">
															<br><input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].cost_per_color_page">
														</div>
														<div class="col-md-6">
															<label>B&W:</label>
															<input type="text" class="form-control" disabled value="{{ deviceOptions.cost_per_mono_page }}">
															<br><input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].cost_per_mono_page">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</uib-accordion>
	<script>
	jQuery( document ).ready(function() { 
	/*console.log(jQuery( ".accessory_control" ).length);
			jQuery( ".accessory_control" ).each(function() {
				val = jQuery( this ).val();
				
				console.log(val);
				console.log(11111111111111111);
				switch (val) {
					case '0':
					case 0:																			
						jQuery( this ).css("background-color", '#CDD1DA');
						break;
					case '1':
					case 1:																					
						jQuery( this ).css("background-color", '#51b2df');
						break;
					case '2':
					case 2:																					
						jQuery( this ).css("background-color", '#2080ad');
						break;
				}
			});
			jQuery('.accessory_control').click(function() {
				console.log(222);
				val = jQuery( this ).val();
				
				switch (val) {
					case '0':
					case 0:																			
						jQuery( this ).css("background-color", '#CDD1DA');
						break;
					case '1':
					case 1:																					
						jQuery( this ).css("background-color", '#51b2df');
						break;
					case '2':
					case 2:																					
						jQuery( this ).css("background-color", '#2080ad');
						break;
				}
			});*/
	});
		 
	</script>
							<br>
							<button ng-click="saveQuote('save')" class="btn btn-primary">
								Save
							</button>
							<button ng-click="saveQuote('save-exit')" class="btn btn-primary">
								Save and exit
							</button>
										
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>