<div class="container" ng-controller="editQuoteController">
    <div class="row">
        <div class="col-md-12">
			<a id="top" href="#top"></a>

			<div class="animate-show" ng-show="showQuoteForm">
				<div class="panel panel-default dashboard_edit_quote">
					
					<div class="panel-heading">
						Edit quote #{{ quote.id }}
					</div>
			
					<div class="col-md-12 animate-show" ng-show="showQuoteSaveSuccessMessage">					
						<div class="alert alert-success">
							<strong>Quote saved!</strong>
						</div>
					</div>
					
					<div class="col-md-12 animate-show" ng-show="loadingError || showQuoteSaveErrorMessage">					
						<div class="alert alert-danger">
							<strong>Some error occured! Please refresh the page and try once again.</strong>
						</div>
					</div>

					<div class="panel-body">
						<div class="col-sm-8">
						
							<div ng-include src="'/tasks/perfectcopier/public/templates/admin/edit_quote_save_buttons.html'"></div>
							
						</div>
						
						<div ng-include src="'/tasks/perfectcopier/public/templates/admin/edit_quote_intro_options.html'"></div>
					
						<div class="col-md-12">

							<div ng-include src="'/tasks/perfectcopier/public/templates/admin/edit_quote_add_user.html'"></div>
							
							<div ng-include src="'/tasks/perfectcopier/public/templates/admin/edit_quote_options.html'"></div>
							
							<div ng-include src="'/tasks/perfectcopier/public/templates/admin/edit_quote_add_device_to_list.html'"></div>  
							
							<div ng-include src="'/tasks/perfectcopier/public/templates/admin/edit_quote_edit_devices.html'"></div> 
							
							<br>
							
							<div ng-include src="'/tasks/perfectcopier/public/templates/admin/edit_quote_save_buttons.html'"></div>
										
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>