<div class="container" ng-controller="QuoteController">
    <div class="row" ng-show="showEditQuoteForm">
        <div class="col-md-12">
            <div class="panel panel-default dashboard_edit_quote">
                <div class="panel-heading">
                    Edit quote #{{ quote.id }}
                </div>

                <div class="panel-body">
					<div class="col-sm-9">
						<button ng-click="saveQuote('save')" class="btn btn-primary">
							Save
						</button>
						<button ng-click="saveQuote('save-exit')" class="btn btn-primary">
							Save and exit
						</button>
						<div class="clearfix"></div>
					</div>
					<div class="col-sm-3">
						<div class="form-group" style="float:right;">
							<label for="editor">Select quote editor:</label>
							<select class="form-control" id="editor" ng-model="quoteData[quote.id].editor">
								<option value="jesse">Jesse Harwell</option>
								<option value="laine">Laine Dobson</option>
								<option value="greg">Greg Bentz</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
					
					<div class="col-md-12 animate-show" ng-show="showQuoteSaveSuccessMessage">					
						<div class="alert alert-success">
							<strong>Quote saved!</strong>
						</div>
					</div>
				
					<div class="col-md-12">
						<div class="panel panel-info">
							<div class="panel-heading">
								Add user
							</div>
	 

							<div class="panel-body">
								<div class="col-md-6">
									<div class="form-group user_form">
										<select class="form-control" id="user_type"
												ng-model="quoteData[quote.id].user_type" 
												ng-change="changedUserType(quoteData[quote.id].user_type)"
										>
											<option value="new" ng-selected="quoteData[quote.id].user_type == 'new' || quoteData[quote.id].user_type == ''">New User</option>
											<option value="capsule" ng-selected="quoteData[quote.id].user_type == 'capsule'">CapsuleCRM User</option>
										</select>
										<br>
										<div class="alert alert-danger"
											ng-show="quoteData[quote.id].client_email == '' && userInputError && quoteData[quote.id].user_type == 'capsule'">
											<strong>Choose Capsule CRM User!</strong>
										</div>
										Username (*):
										<input type="text"
											   class="form-control"
											   ng-model="quoteData[quote.id].client_username"
											   ng-disabled="quoteData[quote.id].user_type == 'capsule'"
											   ng-class="{error: (quoteData[quote.id].client_username == '' && userInputError)}"
											   ng-change="checkForEmptyInput(quoteData[quote.id].client_username)"
										/>
										<span class="error_message"
												ng-show="quoteData[quote.id].client_username == '' && userInputError && quoteData[quote.id].user_type == 'new'">
											Please fill in this field
											<br>
										</span>
										<br>
										Company name (if specified) (*):
										<input type="text"
											   class="form-control"
											   ng-model="quoteData[quote.id].client_company"
											   ng-disabled="quoteData[quote.id].user_type == 'capsule'"
											   ng-class="{error: (quoteData[quote.id].client_company == '' && userInputError)}"
											   ng-change="checkForEmptyInput(quoteData[quote.id].client_company)"
										/>
										<span class="error_message"
												ng-show="quoteData[quote.id].client_company == '' && userInputError && quoteData[quote.id].user_type == 'new'">
											Please fill in this field
											<br>
										</span>
										<br>
										E-mail (if specified) (*):
										<input type="text"
											   class="form-control"
											   ng-model="quoteData[quote.id].client_email"
											   ng-disabled="quoteData[quote.id].user_type == 'capsule'"
											   ng-class="{error: (quoteData[quote.id].client_email == '' && userInputError)}"
											   ng-change="checkForEmptyInput(quoteData[quote.id].client_email)"
										/>
										<span class="error_message"
												ng-show="quoteData[quote.id].client_email == '' && userInputError && quoteData[quote.id].user_type == 'new'">
											Please fill in this field
											<br>
										</span>
										(*) - mandatory fields
									</div>
								</div>
								<div class="col-md-6">
									<div class="clients_list_container">
										<div class="col-md-12" style="margin-top:5px;">
											<h5><strong>Search Capsule CRM user:</strong></h5>
											<div class="col-md-6">
												By firstname:
												<input type="text"
													   class="form-control"
													   ng-model="searchUserByFirstname"
												/>
											</div>
											<div class="col-md-6">
												By lastname:
												<input type="text"
													   class="form-control"
													   ng-model="searchUserByLastname"
												/>
											</div>
											<div class="col-md-8">
												By email:
												<input type="text"
													   class="form-control"
													   ng-model="searchUserByEmail"
												/>
											</div>
										</div>
										<div class="col-md-12">
											<div id="clients_list">										
												<div class="form-group">
													<div class="capsule_client_block"
													ng-repeat="capsuleUser in capsuleUsers.contacts |
													filter: {
															contacts:
																{email:
																	{emailAddress: searchUserByEmail}},
															firstName: searchUserByFirstname,
															lastName: searchUserByLastname
															}"												
													 ng-click="selectCapsuleUser(capsuleUser)"
													 ng-class="{'ui-selected': selectedCapsuleUser == capsuleUser.id}"
													>
														<div class="client_image">
															<img ng-src=" {{ capsuleUser.pictureURL }} " />
														</div>
														<div class="client_contacts">													
															<h5 class="capsule_username" ng-if="capsuleUser.firstName">Firstname: <span>{{ capsuleUser.firstName }}</span></h5>
															<h5 class="capsule_username" ng-if="capsuleUser.lastName">Lastname: <span>{{ capsuleUser.lastName }}</span></h5>														
															<div class="contact" ng-if="capsuleUser.organisationName">Company:
																<span>
																	{{ capsuleUser.organisationName }}
																</span>
															</div>
															<div class="contact" ng-if="capsuleUser.contacts.email.emailAddress">Email:
																<span>
																	{{ capsuleUser.contacts.email.emailAddress }}
																</span>
															</div>
															<span class="contact details"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	

						<div class="panel panel-warning">
							<div class="panel-heading">
								Device list
							</div>

							<div class="panel-body">
							
								<div class="col-md-12">
									Choose a device from a form below and press the button (max 4 allowed for now):<br>
									<div class="btn btn-danger" id="add_device" ng-click="addDeviceToQuote()">Add Device</div>
								</div>
					
								<div class="col-md-12 animate-show" ng-show="showDeviceIsAlreadyAddedMessage">					
									<div class="alert alert-warning">
										<strong>This device is already in the list!</strong>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<strong>3 most common quoted devices:</strong>
										<div id="most_quoted">
											<div class="quoted_device_block"
												 ng-repeat="deviceId in mostQuotedDevicesIds"
												 ng-click="selectDevice(deviceId)"
												 ng-class="{'ui-selected': selectedDevice == deviceId}"
											>
												<div class="device_params">
													<h4 id="device_title">
														{{ devices[deviceId - 1].model }}
													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<strong>Choose from a list below:</strong>
										<div class="devices_list_container">
											<div id="devices_list" slimscroll="{height: 280, wheelStep: 5}">
												<div class="quoted_device_block"
													 ng-repeat="device in devices"
													 ng-click="selectDevice(device.id)"
													 ng-class="{'ui-selected': selectedDevice == device.id}"
												>
													<div class="device_image">
														<img ng-src="../public/img/devices/{{ device.image }}" />
													</div>
													<div class="device_params">
														<h4 id="device_title">
															{{ device.model }}
														</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<uib-accordion close-others="oneAtATime">
							<div class="device_accordion_wrapper" ng-repeat="deviceOptions in addedDevices">
								<div uib-accordion-group
									 class="panel-info"
									 heading="{{ deviceOptions.model }}"
									 is-open="deviceAccordionIsOpen[$index]"
								>
									<div class="col-md-12 accessories_block quoted_devices_form" style="margin-bottom: 20px;">
										<div class="col-md-12">
											<div class="col-md-9">
												<div class="well well-sm">														
													<h4>Add basic accessories:</h4> 
													<div ng-repeat="accessory in deviceOptions.accessories">
														<div>
															<input type="checkbox" class="checkbox"
																	id="accessory_{{device.id}}_{{accessory.id}}"
																	ng-model="quoteData[quote.id].added_accessories[deviceOptions.id][accessory.id]"
																	ng-checked="quoteData[quote.id].added_accessories[deviceOptions.id][accessory.id]"
																	value="{{ accessory.id }}"
																/>
															<label for="accessory_{{device.id}}_{{accessory.id}}">
																{{ accessory.part_number }}
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3">
											</div>
										</div>
										<br>
										<div class="col-md-12">
											<div class="col-md-9">
												<div class="well well-sm">
													<h4>Add custom accessories:</h4> 
													<div style="min-height:40px;">
														<div class="btn btn-danger"
															 ng-click="addCustomAccessories(deviceOptions.id)"
															 style="float: right; margin-bottom: 20px;">
															Add Accessory
														</div>
													</div>
													<div class="form-group" ng-repeat="custom_accessory in deviceOptions.custom_accessories">
														
															<div class="col-md-12">
																Accessory # {{ custom_accessory.id }}
																<br>
																<div class="col-md-6" style="padding-left: 0px;">
																	Part number:
																	<input type="text" class="form-control"
																		ng-model="quoteData[quote.id].custom_accessories[deviceOptions.id][custom_accessory.id].part_number">
																</div>
																<div class="col-md-6" style="padding-left: 0px;">
																	Price:
																	<input type="text" class="form-control"
																		ng-model="quoteData[quote.id].custom_accessories[deviceOptions.id][custom_accessory.id].price">
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="col-md-12">	
																<div class="form-group">
																	Description:
																	<textarea class="form-control" rows="5"
																		ng-model="quoteData[quote.id].custom_accessories[deviceOptions.id][custom_accessory.id].description"></textarea>
																</div>
															</div>
																<div class="clearfix"></div>
													</div>
												</div>
												
											</div>
											<div class="col-md-3">
											</div>
										</div>										
										<br>
										<div class="col-md-12">
											<div class="col-md-9">
												<div class="well well-sm">
													<h4>Display basic descriptions:</h4>
													<div class="form-group">
														<div>
															<input type="checkbox" class="checkbox"
																	id="description_{{device.id}}_{{accessory.id}}"
																	ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].pdf"
																	ng-true-value="'{{deviceOptions.pdf}}'"
																	ng-false-value="null"
																	ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].pdf != null"
															/>
															<label for="description_{{device.id}}_{{accessory.id}}">
																Display PDF?
															</label> <a href="{{ deviceOptions.pdf }}">PDF link</a>
														</div>
													</div>
													<div class="form-group">
														<div class="form-group">
															<div class="checkbox">
																<input type="checkbox"
																	ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].color_or_mono"
																	ng-true-value="'{{deviceOptions.color_or_mono}}'"
																	ng-false-value="null"
																	ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].color_or_mono != null"
																/>
																<strong>Color/mono:</strong> {{ deviceOptions.color_or_mono }}
															</div>
														</div>
													</div>
													<div class="form-group">
														<div class="form-group">
															<div class="checkbox">
																<input type="checkbox"
																	ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].paper_size"
																	ng-true-value="'{{deviceOptions.paper_size}}'"
																	ng-false-value="null"
																	ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].paper_size != null"
																/>
																<strong>Paper size:</strong> {{ deviceOptions.paper_size }}
															</div>
														</div>
													</div>
													<div class="form-group">
														<div class="form-group">
															<div class="checkbox">
																<input type="checkbox"
																	ng-model="quoteData[quote.id].devices_desc[deviceOptions.id].speed"
																	ng-true-value="'{{deviceOptions.speed}}'"
																	ng-false-value="null"
																	ng-checked="quoteData[quote.id].devices_desc[deviceOptions.id].speed != null"
																/>
																<strong>Speed:</strong> {{ deviceOptions.speed }}
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3">
											</div>
										</div>
										<br>
										<div class="col-md-12">
											<div class="col-md-9">
												<div class="well well-sm">
													<h4>Add custom descriptions:</h4>  
													<div style="min-height:40px;">
														<div class="btn btn-danger"
															 ng-click="addCustomDescriptions(deviceOptions.id)"
															 style="float: right; margin-bottom: 20px;">
															Add Description
														</div>
													</div>
													<div class="form-group" ng-repeat="custom_description in deviceOptions.custom_descriptions">														
															<div class="col-md-12">
																Description # {{ custom_description.id }}
																<br>
																<div class="col-md-3" style="padding-left: 0px;">
																	Name:
																	<input type="text" class="form-control"
																		ng-model="quoteData[quote.id].custom_descriptions[deviceOptions.id][custom_description.id].name">
																</div>
																<div class="col-md-12" style="padding-left: 0px;">
																	Value:
																	<input type="text" class="form-control"
																		ng-model="quoteData[quote.id].custom_descriptions[deviceOptions.id][custom_description.id].value">
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="clearfix"></div>
													</div>
												</div>
												
											</div>
											<div class="col-md-3">
											</div>
										</div>	

										<div class="col-md-12 number_of_incl_pages">
											<div class="col-md-6">
												<h4>Enter a number of included pages:</h4>
												<h5>(if left blank, no field with number of included pages will be displayed)</h5>
												<div class="form-group">
													<div class="col-md-6">
														<label>Color:</label>	
														<input type="text" class="form-control" ng-model="quoteData[quote.id].included_pages[deviceOptions.id].color">
													</div>
													<div class="col-md-6">
														<label>B&W:</label>
														<input type="text" class="form-control" ng-model="quoteData[quote.id].included_pages[deviceOptions.id].mono">
													</div>
												</div>
											</div>
											
											
										</div>

										<div class="col-md-12">
											<div class="col-md-6">
												<h4>Base:</h4>
												<div class="form-group">
													<div class="col-md-6">
														<label>Cost:</label>	
														<input type="text" class="form-control" disabled value="{{ deviceOptions.cost }}">
													</div>
													<div class="col-md-6">
														<label>Price:</label>
														<input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].base">
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<h4>Additional printed pages cost:</h4>
												<div class="form-group">
													<div class="col-md-6">
														<label>Color:</label>
														<input type="text" class="form-control" disabled value="{{ deviceOptions.cost_per_color_page }}">
														<br><input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].cost_per_color_page">
													</div>
													<div class="col-md-6">
														<label>B&W:</label>
														<input type="text" class="form-control" disabled value="{{ deviceOptions.cost_per_mono_page }}">
														<br><input type="text" class="form-control" ng-model="quoteData[quote.id].prices[deviceOptions.id].cost_per_mono_page">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</uib-accordion>

						<br>
						<button ng-click="saveQuote('save')" class="btn btn-primary">
							Save
						</button>
						<button ng-click="saveQuote('save-exit')" class="btn btn-primary">
							Save and exit
						</button>
									
					</div>
				</div>
			</div>
		</div>
	</div>
</div>