<div class="container quotes_form" ng-controller="quotesController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">

				<div class="panel-body">	
				
					<div class="animate-show" ng-show="loadingError">
						<div class="col-md-6" style="padding-top:0px;">					
							<div class="alert alert-danger" style="margin-bottom:0px;">
								<strong>Some error occured! Try to refresh the page.</strong>
							</div>
						</div>		
					</div>
					<div class="animate-show" ng-show="showQuotesList">
						<button type="submit" class="btn btn-warning" ng-click="prepareQuote()">Prepare a new quote</button>
						<button type="submit" class="btn btn-success" ng-click="duplicateQuote(selectedQuoteToDuplicate)">Duplicate selected quote</button>
						<br> <br>
						<div class="panel panel-info">
							<div class="panel-heading">
								Quotes
							</div>
							<div class="panel-body">
								
								<ul uib-pagination
									total-items="quotes.length"
									items-per-page="quotesNumPerPage"
									ng-model="quotesCurrentPage"
									max-size="quotesMaxSize"
									class="pagination-sm"
									boundary-links="true"></ul>
								
								<table class="table table-striped task-table">

									<thead>
										<th>&nbsp;</th>
										<th>Id</th>
										<th>Status</th>
										<th>User email</th>
										<th>Printer(s) quoted</th>
										<th>Link</th>
										<th>Number of views</th>
										<th>Last view<br>(Denver, CO time)</th>
										<th>&nbsp;</th>
									</thead>
									<tbody>
										<tr ng-repeat="quote in filteredQuotes"
											ng-class="{selected_quote_to_duplicate: (selectedQuoteToDuplicate == quote.id)}"
										>
											<td class="table-text">
												<div>
													<input type="radio" class="radio" id="radio_{{ quote.id }}"
														ng-model="$parent.selectedQuoteToDuplicate"
														value="{{ quote.id }}"
													/>
													<label for="radio_{{ quote.id }}"></label>
												</div>
											</td>
											<td class="table-text">
												<div>
													<label for="radio_{{ quote.id }}">
														{{ quote.id }}
													</label>
												</div>
											</td>
											<td class="table-text">
												<div>
													<label for="radio_{{ quote.id }}">
														{{ quote.status }}
													</label>
												</div>
											</td>
											<td class="table-text email">
												<div>
													<label for="radio_{{ quote.id }}">
														<span ng-if="quote.user.email">{{ quote.user.email }}</span>
													</label>
												</div>
											</td>
											<td class="table-text email">
												<div>
													<label for="radio_{{ quote.id }}">		
														<div ng-repeat="(deviceId, quotedDevice) in quote.quoted_devices">
															<div ng-repeat="deviceVariation in quotedDevice">
																{{ quote.devices[$parent.$index].model }}	
															</div>
														</div>
													</label>
												</div>
											</td>
											<td class="table-text">
												<div>
													<label for="radio_{{ quote.id }}">
															<a href="edit-quote/{{ quote.guid }}">
																Edit quote
															</a>
															<span ng-if="quote.status != 'draft'">
																/
																<a href="../quote/{{ quote.guid }}">
																	Client view
																</a>
															</span>
													</label>
												</div>
											</td>
											<td class="table-text">
												<label for="radio_{{ quote.id }}">
													{{ quote.no_of_views }}
												</label>
											</td>
											<td class="table-text">
												<label for="radio_{{ quote.id }}">
													{{ quote.last_view }}
												</label>
											</td>
											<td class="table-text">
												<label for="radio_{{ quote.id }}">
													<button type="submit" class="btn btn-warning"
															ng-if="quote.status == 'published'"
															ng-click="unpublishQuote(quote.id)">Unpublish</button>
												</label>
											</td>
										</tr>
									</tbody>
								</table> 
								
								<ul uib-pagination
									total-items="quotes.length"
									items-per-page="quotesNumPerPage"
									ng-model="quotesCurrentPage"
									max-size="quotesMaxSize"
									class="pagination-sm"
									boundary-links="true"></ul>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>