<div class="container" ng-controller="UsersController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Users
                        </div>

                        <div class="panel-body">
                            <table class="table table-striped task-table">

                                <thead>
                                    <th>User id</th>
                                    <th>Username</th>
                                    <th>Company name</th>
                                    <th>Email</th>
                                    <th>Quotes prepared</th>
                                </thead>

                                <tbody>
                                <tr ng-repeat="user in users">
                                    <td class="table-text">
                                        <div>
                                            {{ user.id }}
                                        </div>
                                    </td>
                                    <td class="table-text">
                                        <div>
                                            {{ user.name }}
                                        </div>
                                    </td>
                                    <td class="table-text">
                                        <div>
                                            {{ user.company }}
                                        </div>
                                    </td>
                                    <td class="table-text">
                                        <div>
                                            {{ user.email }}
                                        </div>
                                    </td>
                                    <td class="table-text">
                                        <div ng-if="user.quotes">
                                            <span ng-repeat="user_quote in user.quotes">
                                                <strong>#{{ user_quote.id }}</strong>
                                                <a href="edit_quote/{{ user_quote.guid }}">
                                                    Edit quote
                                                </a> /
                                                <a href="../quote/{{ user_quote.guid }}">
                                                    Client view
                                                </a>
                                                <br>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>