body {
	font-family: 'Roboto', sans-serif;
	background:#fff !important;
}

/* Styles common for all pages */

#app.client_side .navbar {
	margin-bottom:0px !important;
}
.table .table-text > div {
	min-height:50px;
	line-height:35px;
	min-width:30px;
}
.table .table-text.email {
	min-width:100px;
}
.table .table-text label {
	font-weight:normal !important;
}
.quotes_form .table .table-text {
	padding:0px !important;
}
.quotes_form .table .table-text label {
    padding: 8px;
    margin: 0px;
	line-height:35px;
}
.pahoda_header {
	height:430px;
}
.quote_main_page .pahoda_header.left {
	background:#efefef;
	border:1px solid #e6e6e6;
}
.pahoda_header.right {
	padding-left:30px;
	padding-right:0px;
}
.quote_main_page .pahoda_header .pahoda_logo,
.detailed_device_page_header .pahoda_header .pahoda_logo {
    width: 318px;
    display: block;
    height: 280px;
    margin: auto;
}
.quote_main_page .pahoda_header .pahoda_logo {
    background: url(../img/pahoda_logo.png) no-repeat center;
}
.detailed_device_page_header {
	padding-top:50px;
}
.detailed_device_page_header .pahoda_header .pahoda_logo {
    background: url(../img/pahoda_logo_white.png) no-repeat center;
}
.pahoda_header .official_quote {
    line-height: 120px;
    font-size: 22px;
    text-align: center;
    height: 120px;
    width: 520px;
    border-radius: 3px;
    margin: auto;
}
.quote_main_page .pahoda_header .official_quote {
    border: 1px dashed #b7b7b7;
}
.detailed_device_page_header .pahoda_header .official_quote {
    border: 1px dashed #fff;
	background:rgba(255,255,255,0.1);
	color: #fff;
}
.quote_main_page .quote_editor,
.quote_main_page .quote_contact_email {
	font-size:20px;
    height: 40px;
}
.quote_main_page .quote_contact_phone {
	font-size:20px;
    height: 35px;
}
.detailed_device_page_header .quote_editor,
.detailed_device_page_header .quote_contact_email,
.detailed_device_page_header .quote_contact_phone {
	color:#fff;
	font-size:14px;
	margin-bottom:10px;
}
.detailed_device_page_header a,
.detailed_device_page_header a:hover,
.detailed_device_page_header a:focus,
.detailed_device_page_header a:active {
	color:#fff;
}
.quote_main_page .quote_photo {
	height:375px;
}
.quote_editor .fa,
.quote_contact_email .fa,
.quote_contact_phone .fa {
	margin-right:10px;
}
.quote_main_page .page_header .fa {
	color:#51b2df;
}
.quote_main_page .pahoda_header .quote_photo {
	height:315px;
	width:100%;
    background-size: cover;
}
.quote_main_page .pahoda_header .quote_photo.jesse {
    background: url(../img/quote_photo_jesse.png) no-repeat left;
}
.quote_main_page .pahoda_header .quote_photo.laine {
    background: url(../img/quote_photo_laine.png) no-repeat left;
}
.quote_main_page .pahoda_header .quote_photo.greg {
    background: url(../img/quote_photo_greg.png) no-repeat left;
}
.detailed_device_page_header .pahoda_header.right > .contacts {
	padding-top:150px;
}
.detailed_device_page_header .pahoda_header .quote_photo {
	min-height:400px;
	width:100%;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	border:2px solid #fff;
    background-size: cover;
}
.detailed_device_page_header .pahoda_header .quote_photo.jesse {
    background: url(../img/quote_photo_detailed_page_jesse.png) no-repeat center;	
}
.detailed_device_page_header .pahoda_header .quote_photo.laine {
    background: url(../img/quote_photo_detailed_page_laine.png) no-repeat center;	
}
.detailed_device_page_header .pahoda_header .quote_photo.greg {
    background: url(../img/quote_photo_detailed_page_greg.png) no-repeat center;	
}
.page_header {
	width:100%;
	margin-top:40px;
}
.content {
	margin-top:50px;
}
.content h2 {
	margin-top:20px;
}
.content,
.bottom-menu {
	float:left;
	width:100%;
}
.bottom-menu {
	margin-top:50px;
}

/* Main quote page */

.quoted_devices_menu {
	height: 55px;
	margin-bottom: 30px;
}
.quoted_devices_menu .menu_item {
	height:55px;
	background:#efefef;
	border-left:2px solid #d8d8d8;
	padding:15px;
	font-size:16px;
	cursor:pointer;
}
.quoted_devices_menu .menu_item:hover {	
	background:#ddd;
}

/* Detailed device page -- Description */

#quoted_devices_list .device_title > div {
	padding-bottom:5px;
	font-size: 24px;
}
.detailed_device_page_header {
	height:500px;
	width:100%;
    background: url(../img/header_background.png) no-repeat center;	
    background-size: cover;
}
	
.detailed_device_header_block .header {
	padding-bottom:5px;
	font-size: 18px;
	color: #51b2df;
	font-weight: bold;	
}
.detailed_device_header_block .device_parameters {
	min-height:300px;
	margin-bottom: 40px;
	font-size: 14px;
	line-height:30px;
	padding-right:30px;
}
.detailed_device_header_block .device_parameters .device_param_name {
	min-height: 40px;
	border-top:2px solid #dedede;
	border-left:2px solid #dedede;
	float:left;
	line-height:40px;
	padding-left: 10px;
	word-wrap:break-word;
}
.detailed_device_header_block .device_parameters .device_param_value {
	min-height: 40px;
	border-top:2px solid #dedede;
	border-left:2px solid #dedede;
	border-right: 2px solid #dedede;
	float:left;
	line-height:40px;
	padding-left: 10px;
	word-wrap:break-word;
}
.detailed_device_header_block .parameters_block {
	width:100%;
	margin-bottom:20px;
    float: left;
}
.detailed_device_header_block .parameters_block .parameter:last-child .device_param_name,
.detailed_device_header_block .parameters_block .parameter:last-child .device_param_value {	
	border-bottom:2px solid #dedede;
}
.detailed_device_header_block .device_photo .image_block {
	border:2px solid #51b2df;
	height:350px;
	margin-bottom:10px;
    position: relative;
}
.detailed_device_header_block .device_photo img {	
	display: block;
	width: 200px;
	height: 200px; 
	margin-top: -100px;
	margin-left: -100px;
	position: absolute;
	left: 50%;
	top: 50%;
}
#quoted_devices_list .device_photo img {
	display: block;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	position: absolute;
	left: 50%;
	top: 50%;
}
.detailed_device_header_block .device_photo .price_and_pdf {
	width:100%;
	font-weight:bold;
}
.detailed_device_header_block .device_photo .outright_price {
	float:left;
	color:#51b2df;
	font-size:18px;
}
.detailed_device_header_block .device_photo .view_pdf {
	display:block;
	float:right;
	width:130px;
	height:40px;
    text-align:center;
    line-height:40px;
	background:#51b2df;
	color:#fff;
	font-size:14px;
}

/* Detailed device page -- Calculation */

.detailed_device_calc_block .detailed_device_options h4,
.detailed_device_calc_block .detailed_device_calculation h4
 {
	margin-bottom:10px;
	font-size: 18px;
	color: #51b2df;
	font-weight: bold;	
}
.detailed_device_calc_block .calc_table {
	float:left;
}
.detailed_device_calc_block .fmv_table {
	margin-bottom:25px;
}
.detailed_device_calc_block .dollar_out_table {
	margin-bottom:10px;
}
.detailed_device_calc_block .calc_table,
.detailed_device_calc_block .calc_table .table_header,
.detailed_device_calc_block .calc_table .table_body
 {
	width:100%;
}
.detailed_device_calc_block .calc_table .fmv_cell {
    float: left;
	height:40px;
	text-align:center;
	line-height:40px;
	width:20%;
	border-top:2px solid #dedede;
	border-left:2px solid #dedede;
}
.detailed_device_calc_block .calc_table .table_header .fmv_cell {
	width:20%;
	border-top:2px solid #dedede;
	border-left:2px solid #dedede;
}
.detailed_device_calc_block .calc_table .table_header .fmv_cell:last-child,
.detailed_device_calc_block .calc_table .table_body .fmv_cell:last-child {
	border-right:2px solid #dedede;
}
.detailed_device_calc_block .calc_table .table_body .fmv_cell {
	border-bottom:2px solid #dedede;
}
.detailed_device_calculation .submit_buttons {
	float:right;
}
.detailed_device_calculation .submit_buttons .button {
	float:left;
	width:130px;
	height:40px;
    text-align:center;
    line-height:40px;
	background:#51b2df;
	color:#fff;
	font-size:14px;
	margin-left:20px;
	cursor:pointer;
}
.accessories_for_devices_block {
	width:100%;
	min-height:20px;
	margin-bottom:15px;
}
.accessories_for_devices {
	margin-right:15px !important;
	margin-bottom:20px !important;
}

/* Custom checkboxes */

.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}
.checkbox + label {
	cursor: pointer;
	font-weight:normal;
}
.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 60px;
}
.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: all .2s;
}
.checkbox:checked + label:before {
	background: #51b2df;
}
.checkbox:checked + label {
	font-weight:bold;
}
.checkbox:checked + label:after {
	left: 26px;
}
.checkbox:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

/* Custom radio buttons */

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: absolute;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
	content: '';
    position: absolute;
    top: 14px;
    left: 5px;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 17px;
	left: 8px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #51b2df;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
.selected_quote_to_duplicate {
	background: #e7fad7 !important;
}

/* Angular */

.animate-show {
	opacity: 1;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
	transition: all linear 0.5s;
}
.animate-show.ng-hide {
	line-height: 0;
	opacity: 0;
	padding: 0 10px;
}

/****** ADMIN DASHBOARD ********/

.clients_list_container,
.devices_list_container {
    overflow: hidden;
    background: #eee;
    border-radius: 3px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 1px 1px rgba(128,128,128,.05);
    -moz-box-box-shadow: inset 1px 1px rgba(128,128,128,.05);
    box-shadow: inset 1px 1px rgba(128,128,128,.05);
}
.clients_list_container {
    height: 500px;
}
.devices_list_container {
    height: 300px;
	padding-left:15px;
	padding-right:15px;
}
.clients_list_container .slimScrollDiv {
	padding-left:20px;
	padding-right:20px;
    margin-top: 15px;
    border: 1px solid #ddd;
}
.devices_list_container .slimScrollDiv {
	padding-left:20px;
	padding-right:20px;
    margin-top: 15px;
    border: 1px solid #ddd;
}
.clients_list_container .form-control {
	margin-bottom:8px;
}
.capsule_client_block,
#devices_list .quoted_device_block {
    background:#fff;
	min-height:100px;
    padding:10px;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2);
	margin-right:5px;
	margin-bottom:20px;
	cursor:pointer;
    border-radius:3px;
}
#most_quoted .quoted_device_block {
    min-height:50px;
    padding:10px;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2);
    margin-right:5px;
    margin-bottom:10px;
    cursor:pointer;
    border-radius:3px;
    border: 1px solid #ddd;
}
.capsule_client_block:first-child,
#devices_list .quoted_device_block:first-child {
	margin-top:20px;
}
.capsule_client_block:last-child,
#devices_list .quoted_device_block:last-child {
	margin-bottom:20px;
}
.capsule_client_block .client_image,
#devices_list .quoted_device_block .device_image {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    margin-right: 20px;
}
.capsule_client_block .client_image img,
#devices_list .quoted_device_block .device_image img {
    width:100%;
    height:100%;
}
.capsule_client_block .client_contacts,
#devices_list .quoted_device_block .device_params {
    min-height: 80px;
    float: left;
    width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.capsule_client_block .client_contacts h4,
#devices_list .quoted_device_block .device_params h4 {
    font-weight: bold;
    margin:0;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.capsule_client_block .client_contacts .contact {
    font-style:italic;
    margin-right:5px;
}
.capsule_client_block .client_contacts .details {
    font-weight:bold;
}
.capsule_username {
    white-space: nowrap;
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.capsule_username span {
	font-weight:bold;
}
.capsule_client_block .contact {
	white-space: nowrap;
	margin:0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right:5px;
}
.capsule_client_block .contact span {
	font-weight:bold;
}
.number_of_incl_pages {
	margin-bottom:20px;
}

/* Admin -- Devices */

.chosen_accessories_list,
.accessories_list {
    padding:10px;
    padding-top: 0px;
	/*overflow: hidden;*/
    width: 100%;
    border-radius: 3px;
}
.accessories_list_container,
.chosen_accessories_list_container {
	border: 1px solid #ccc;
}
.chosen_accessories_list_container .checkbox,
.chosen_accessories_list_container .radio,
.accessories_list_container .checkbox,
.accessories_list_container .radio {
    margin-top:0px;
}
.accessories_block .checkbox,
.chosen_accessories_list_container input,
.accessories_list_container input {
	position:relative !important;
	margin-left:0px !important;
}
.dashboard_edit_quote .suggested_price {
	width:200px;
}
#most_quoted,
.devices_list_container {
    margin-top: 10px;
}
.quoted_devices_form h4 {
    display: block;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
    margin-bottom:10px;
    margin-bottom:10px;
}
.quoted_devices_form h5 {
	text-align:center;
}
.quoted_devices_form input[type=checkbox],
.quoted_devices_form input[type=radio] {
    position:relative !important;
    margin-left:0px !important;
}
.device_accordion_wrapper {
	margin-bottom:20px;
}
/* Selected items */
.capsule_client_block.ui-selected {
	background:#e7fad7 !important;
}
.quoted_device_block.ui-selected {
    background:#e7fad7 !important;
}
/* Add device button */
#add_device {
   margin-bottom:20px;
}
/* Upload CSV file */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
	
/* Helpers */
.user_form .error {
    background:#fff6ff;
}
.user_form  .error_message {
	font-weight: bold;
	color: #d00;
}
.error {
    color:#f45;
}
.clearfix {
	clear:both;
}