<div class="filters title">
	<i class="fa fa-filter" aria-hidden="true"></i>
	Filters //
</div>
<div class="filters">
	<div class="filter_title">
		Price:
	</div>
	<div class="filter_option">
		Cheapest Up Front
	</div>
	<div class="filter_option">
		Cheapest Long Term
	</div>
	<div class="filter_option">
		Lowest Cost Per Print
	</div>
</div>
<div class="filters">
	<div class="filter_title">
		Paper Size:
	</div>
	<div class="filter_option">
		Letter/Legal
	</div>
	<div class="filter_option">
		11x17
	</div>
</div>
<div class="filters">
	<div class="filter_title">
		Speed:
	</div>
	<div class="filter_option">
		Fastest
	</div>
</div>
<div class="clearfix"></div>