<div class="container">
	<div class="row">
		<div class="cover_letter">
			<div class="intro col-xs-12 col-md-9">
				<div>
					<h4>{{ quote.user.name }},</h4>
					<br>
					<span class="text_block">
						I would like to thank you for taking the opportunity to let us help you with your copier purchase.
						We strive to make the buying and support of your copier as simple as possible.
						First, regarding service - we have nationwide USA coverage which means we will only use 100% factory authorized Xerox reps.
					</span>
					<span class="text_block">
						One key benefit of working with Pahoda Image Products is we don’t believe in “hidden fees.”
						If you have gotten a quote already, look out for some of these common “hidden fees.”
						We don’t surprise you with nickel and dime charges during your contract. Period!
					</span>
					<span class="text_block">
						This quote was based on our conversation.
						<span ng-if="quote.sales_rep_notes != null && quote.sales_rep_notes != ''">- With this quote you will see {{ quote.sales_rep_notes}}</span>
						We know you have many choices when choosing a copier.
						We hope you give us an opportunity to get your copier business!
						We have the world’s most popular brand of copier, with cloud connected apps (like scan to Google Drive on many models, automated meter reads to keep it easy for your business and many other benefits).
					</span>
					<span class="text_block">
						We look forward serving you!
					</span>
				</div>
			</div>			
			<div class="col-xs-12 col-md-3"> 
				<div class="no_hidden_charges"> 
					<img ng-src="public/img/no_hidden_charges.png" />  
				</div>
			</div>
			<div class="col-xs-12"> 
				<div class="no_block">
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							No Lease Paperwork Fee 
						</div>	
						<div class="no_content">
							Up to $300 with some companies
						</div>
					</div>	
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							No 2 Click Charges for 11X17
						</div>	
						<div class="no_content">
							If a competitor is charging for 2 clicks, they are charging double.
						</div>
					</div>		
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							No Charge to Return Copier at Lease End
						</div>	
						<div class="no_content">
							Ready for another $600 charge?
							<br>Ours is free when upgrading with us.
						</div>
					</div>		
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							No Network Installation/Training Charge
						</div>	
						<div class="no_content">
							Commonly $250
						</div>
					</div>		
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							No Cost Shipping for Copier Supplies While in Contract
						</div>	
						<div class="no_content">
							Some charge $10 or more per shipment. Could add upto over $600 through lease term.
						</div>
					</div>	
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							No Coverage Penalties (exceeding 5% B&W or 20% for color)
						</div>	
						<div class="no_content">
							Usually results in a rate increase of 30% or more!
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							Low Escalation Fee
						</div>	
						<div class="no_content">
							Our maximum year to year increase is only 6% compared to others who do up to 15%
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							No Fee to Keep 1 Spare on the Shelf
						</div>	
						<div class="no_content">
							If you had to purchase all of the supplies for this, could cost over $1500.
						</div>
					</div>	
					<!-- 
					<div class="col-xs-12 col-sm-3 no_subblock">
						<div class="title">
							<i class="fa fa-check" aria-hidden="true"></i>
							No Charge to Upgrade Firmware
						</div>	
						<div class="no_content">
							Others charge $100 + per hour for a tech to help with these requests.
						</div>
					</div>
					-->
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>    