<div class="col-xs-12 col-sm-6 download_pdf_block">
	<div class="title">
		Download printable version of the quote:
	</div>
	<div class="download_button"
		ng-click="downloadPDF()"
	>
		<div class="spinner_block">		
			<i class="fa fa-spinner animate-show_no_padding rotating" aria-hidden="true" ng-show="waitingForDownloadSpinner"></i>
		</div>
		<div class="download_title">				
			Download
		</div>			
		<div class="download_block">	
			<i class="fa fa-cloud-download animate-show_no_padding" aria-hidden="true" ng-show="waitingForDownloadIcon"></i>
		</div>			
	</div>
</div>
<div class="col-xs-12 col-sm-6 total_monthly_copier_costs">
	<div class="title">
		Total Montly Copier Costs
	</div>
	<div class="total_monthly_copier_costs_content">
		<div class="costs_block">
			<div class="cost_title">
				Service Base Costs TOTAL:
			</div>
			<div class="cost_value">
				<span ng-if="(!quote.sum_up) && ( (quote.quoted_devices | objLength ) > 1) && ( minMaintenancePrice != totalMaintenancePrice) ">
					from ${{ minMaintenancePrice }} to
				</span>
				${{ totalMaintenancePrice }} 
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="costs_block">
			<div class="cost_title">
				<div ng-switch on="quote.displayed_price">
					<span ng-switch-when="outright">
						Outright Purchase Price TOTAL:
					</span>
					<span	ng-switch-when="fmv1|fmv2|fmv3|fmv4|fmv5"
							ng-switch-when-separator="|"
							ng-init="fmvIndex = quote.displayed_price.substr(quote.displayed_price.length - 1)"
					>
						{{ fmvIndex }} Year Lease (Return) Price TOTAL:
					</span>
					<span	ng-switch-when="oneout1|oneout2|oneout3|oneout4|oneout5"
							ng-switch-when-separator="|"
							ng-init="oneOutIndex = quote.displayed_price.substr(quote.displayed_price.length - 1)"
					>
						{{ oneOutIndex }} Year Lease to Own Price TOTAL:
					</span>
				</div>
			</div>
			<div class="cost_value">
				<span ng-if="(!quote.sum_up) && (( quote.quoted_devices | objLength ) > 1) && (minDisplayedPrice != totalDisplayedPrice)">
					from ${{ minDisplayedPrice }} to
				</span> 
				${{ totalDisplayedPrice }}
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- <div class="costs_block">
			<div class="cost_value">
				$0
			</div>
			<div class="cost_title">
				TOTAL MONTHLY:
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="accept_button">
			ACCEPT
		</div> -->
	</div>
</div>
<div class="clearfix"></div>