<div ng-controller="ClientController">
 
				<div class="detailed_device_page_header" ng-show="showQuoteMainPage">
					<div class="container">
						<div class="row">
							<div class="col-md-6 pahoda_header left">
								<div class="pahoda_logo">
								</div>
								<div class="official_quote">
									Official Quote
								</div>
							</div>

							<div class="col-md-6 pahoda_header right">
								<div class="col-md-4 contacts">
									<div class="quote_editor">
										<i class="fa fa-user" aria-hidden="true"></i>
										<strong ng-if="quote.editor == 'jesse'">Jesse Harwell</strong>
										<strong ng-if="quote.editor == 'laine'">Laine Dobson</strong>
										<strong ng-if="quote.editor == 'greg'">Greg Bentz</strong>
									</div>
									<div class="quote_contact_email">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<strong>
											<a href="mailto:jesse@pahoda.com" ng-if="quote.editor == 'jesse'">jesse@pahoda.com</a>
											<a href="mailto:laine@pahoda.com" ng-if="quote.editor == 'laine'">laine@pahoda.com</a>
											<a href="mailto:greg@pahoda.com" ng-if="quote.editor == 'greg'">greg@pahoda.com</a>
										</strong>
									</div>
									<div class="quote_contact_phone">
										<i class="fa fa-phone" aria-hidden="true"></i>
										<a href="tel:730-356-0248" ng-if="quote.editor == 'jesse'">720-356-0248</a>
										<a href="tel:730-356-0248" ng-if="quote.editor == 'laine'">720-111-2233</a>
										<a href="tel:730-356-0248" ng-if="quote.editor == 'greg'">720-555-6677</a>
									</div>
								</div>
								<div class="col-md-8">
									<div class="quote_photo {{quote.editor}}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
	<div class="container">
		<div class="row">
			<div class="quote_main_page animate-show" ng-show="showQuoteMainPage">
				<a id="top"></a>
				<div class="content">
					<h2 style="text-align: center; font-weight:bold; margin-bottom:30px;">
						SUMMARY OF COPIER QUOTE
					</h2>
					<div id="quoted_devices_list" slimscroll="{height: 400}">
						<div class="device_info_block" ng-repeat="quotedDevice in quote.devices">
							<div class="header" style="width:100%;">
								<div class="col-md-6 device_title" style="margin-bottom:30px;">
									<div>{{ quotedDevice.model | trim }}<br>
										<div style="height:2px; width:90px; background:#51b2df;"></div>
									</div>
								</div>
								<div class="col-md-6">
								</div>
							</div>
							<div class="description" style="float:left; width:100%; min-height:300px; margin-bottom: 40px;">
								<div class="col-md-6 device_parameters" style="background:#e6e6e6; height:300px; padding:60px 30px; font-size: 20px; line-height:30px;">
								
									<div ng-repeat="(deviceDescriptionName, deviceDescriptionValue) in quote.devices_desc[quotedDevice.id]">
										<div ng-if="deviceDescriptionValue != null">
											<div ng-if="deviceDescriptionName == 'pdf'">
												<strong>Specification</strong> - 
												<a target="_self" href="{{ deviceDescriptionValue }}">
													LINK
												</a>
											</div>
											<div ng-if="deviceDescriptionName != 'pdf'">
												<div ng-if="deviceDescriptionName == 'color_or_mono'">
													<strong>Color or B&W?</strong> - <span ng-if="deviceDescriptionValue == 'color'">Color/B&W</span>
													<span ng-if="deviceDescriptionValue == 'mono'">B&W</span>
												</div>
												<div ng-if="deviceDescriptionName == 'paper_size'">
													<strong>Max Paper Size?</strong> - <span ng-if="deviceDescriptionValue == 'letter/legal'">Letter/Legal</span>
													<span ng-if="deviceDescriptionValue == 'letter/legal/11x17'">Letter/Legal/11x17</span>
												</div>
												<div ng-if="deviceDescriptionName == 'speed'">
													<strong>Speed</strong> - {{ deviceDescriptionValue }} Pages per Minute
												</div>
											</div>
										</div>
									 </div>
									 <div ng-repeat="(deviceCustomDescriptionId, deviceCustomDescriptionOptions) in quote.custom_descriptions[quotedDevice.id]">
										<div ng-if="deviceCustomDescriptionOptions.value != null">
											<strong>{{ deviceCustomDescriptionOptions.name }}</strong> - {{ deviceCustomDescriptionOptions.value }}
										</div>
									 </div>
								</div>
								<div class="col-md-6 device_photo" style="background:#51b2df; height:300px;">
									<img ng-src="{{ quotedDevice.image }}" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="bottom-menu">
					<h4 style="font-weight:bold; text-align:center; margin-bottom:30px;">
						Details/Specifications:
					</h4>
					<div class="quoted_devices_menu">
						<div ng-repeat="quotedDevice in quote.devices">
							<div class="col-md-2 menu_item" ng-click="showQuotedDevice(quotedDevice.id)">
								{{ quotedDevice.model }}
							</div>
						</div>
					</div>
				</div>

				<div class="detailed_device_calc_block main_page_total_block" style="float: left; width: 100%;">
					<h4 class="front_page" style="font-weight:bold; text-align:center; margin-bottom:20px;">
						Total Monthly Amounts And/Or Lease Amounts
					</h4> 
					<div class="detailed_device_header_block"> 
						<div style="width:100%; float:left; text-align:center; margin-bottom:20px;">
							<div class="parameters_block">
								<div class="parameter">
									<div class="col-xs-8 col-md-4 device_param_name">
										Total service base:
									</div>
									<div class="col-xs-4 col-md-8 device_param_value">
										<span ng-if="!quote.sum_up">from ${{ minMaintenancePrice }} to </span>${{ totalMaintenancePrice }}
									</div>
								</div>
								<div class="parameter">
									<div class="col-xs-8 col-md-4 device_param_name">
										Total outright price
									</div>
									<div class="col-xs-4 col-md-8 device_param_value">
										<span ng-if="!quote.sum_up">from ${{ minOutrightPurchasePrice }} to </span>${{ totalOutrightPrice }}
									</div>
								</div>  
							</div>
						</div>
					</div>
					<h4 class="front_page" style="text-align: center; margin-bottom:20px;">
						FMV (Lease to Return Rates)<span ng-if="quote.sum_up"> (total for all devices)</span>
					</h4>
					<div class="dollar_out_table calc_table">
						<div class="table_header">
							<div class="fmv_cell">1 Year</div>
							<div class="fmv_cell">2 Years</div>
							<div class="fmv_cell">3 Years</div>
							<div class="fmv_cell">4 Years</div>
							<div class="fmv_cell">5 Years</div>
						</div>
						<div class="table_body">
							<div class="fmv_cell"
								 ng-repeat="(i, n) in totalRates.fmv">
								 <span ng-if="!quote.sum_up">from ${{ minFmvPricesWithRates[i] }} to </span>${{ n }}
							</div>
						</div>
					</div>
					<h4 class="front_page" style="text-align: center; margin-bottom:20px;">
						$1 Out Lease (Lease to Own)<span ng-if="quote.sum_up"> (total for all devices)</span>
					</h4>
					<div class="dollar_out_table calc_table">
						<div class="table_header">
							<div class="fmv_cell">1 Year</div>
							<div class="fmv_cell">2 Years</div>
							<div class="fmv_cell">3 Years</div>
							<div class="fmv_cell">4 Years</div>
							<div class="fmv_cell">5 Years</div>
						</div>
						<div class="table_body">
							<div class="fmv_cell"
								 ng-repeat="(i, n) in totalRates.oneOut">
								<span ng-if="!quote.sum_up">from ${{ minOneoutPricesWithRates[i] }} to </span>${{ n }}
							</div>
						</div>
					</div>					
				</div>
			</div>
		<div class="clearfix"></div>
	</div>
</div>
 
<div class="callback_form" ng-show="showQuoteMainPage">
	<div class="col-md-4">
	</div>
	<div class="col-md-4 center_block">
		<span class="title">Want a call back about your quote?</span>
		<br><span class="phone_title">Phone number</span>
		<div class="input_wrapper">
			<form name="myForm">
				<input id="phone_number" type="text"
					name="clientPhoneNumber"
					ng-model="clientPhoneNumber"
					ui-mask="(999) 999-9999"
					ui-mask-placeholder
					ui-options="{'clearOnBlur' : false}"
					ui-mask-placeholder-char="_"
				/>
				<label for="phone_number">
					<i class="fa fa-phone" aria-hidden="true"></i>
				</label>
			</form>
		</div>
		<div class="callback_error animate-show" ng-show="!myForm.clientPhoneNumber.$valid"> Please enter a valid phone number!</div>		
		<div class="callback_success animate-show" ng-show="showPhoneCallbackSuccessMessage">Thank you! We will call you shortly!</div>		
		<button class="callback_submit_button" ng-click="sendMail(quote.editor)">
			Submit
		</button>
	</div>
	<div class="col-md-4">
	</div>
</div>

	<div class="detailed_device_page_header" ng-show="showQuotedDeviceBlock">				 
	
		<div id="popup_wrapper" class="animate-show" ng-show="showPopupAfterSavingQuote" ng-click="check()"></div>
		<div id="popUpDiv" ng-show="showPopupAfterSavingQuote">
			We would like to say thank you for your feedback.
			<br>We will work on a new clip for you!
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6 pahoda_header left">
					<div class="pahoda_logo">
					</div>
					<div class="official_quote">
						Official Quote for {{ quote.user.company }}
					</div>
				</div>

				<div class="col-md-6 pahoda_header right">
					<div class="col-md-4 contacts">
						<div class="quote_editor">
							<i class="fa fa-user" aria-hidden="true"></i>
							<strong ng-if="quote.editor == 'jesse'">Jesse Harwell</strong>
							<strong ng-if="quote.editor == 'laine'">Laine Dobson</strong>
							<strong ng-if="quote.editor == 'greg'">Greg Bentz</strong>
						</div>
						<div class="quote_contact_email">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<strong>
								<a href="mailto:jesse@pahoda.com" ng-if="quote.editor == 'jesse'">jesse@pahoda.com</a>
								<a href="mailto:laine@pahoda.com" ng-if="quote.editor == 'laine'">laine@pahoda.com</a>
								<a href="mailto:greg@pahoda.com" ng-if="quote.editor == 'greg'">greg@pahoda.com</a>
							</strong>
						</div>
						<div class="quote_contact_phone">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<a href="tel:730-356-0248" ng-if="quote.editor == 'jesse'">720-356-0248</a>
							<a href="tel:730-356-0248" ng-if="quote.editor == 'laine'">720-111-2233</a>
							<a href="tel:730-356-0248" ng-if="quote.editor == 'greg'">720-555-6677</a>
						</div>
					</div>
					<div class="col-md-8">
						<div class="quote_photo {{quote.editor}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
			
	<div ng-repeat="quotedDevice in quote.devices">
		<div class="detailed_device_block animate-show" ng-show="showQuotedDeviceBlock && deviceToShow[quotedDevice.id]" style="margin-bottom:500px;">
									
			<div class="container">
				<div class="row">
					<div id="device_{{ quotedDevice.id }}">
						<h2 style="text-align: center; font-weight:bold; text-transform: uppercase;">
							YOUR QUOTE OF {{ quotedDevice.model }}
						</h2>

						<div class="detailed_device_header_block">
							<div class="header" style="width:100%; float:left; margin-bottom:20px;">
								<div class="col-md-6 device_title">
									<div>
										Basic Copier Specs
									</div>
								</div>
								<div class="col-md-6">
								</div>
							</div>
							<div class="description" vertilize-container>
								<div class="col-md-6 device_parameters" vertilize >
									
									<div class="parameters_block" >
										<div class="parameter" ng-repeat="(deviceDescriptionName, deviceDescriptionValue) in quote.devices_desc[quotedDevice.id]">
											<div class="col-xs-6 col-md-4 device_param_name" ng-if="deviceDescriptionValue != null">
												<div ng-if="deviceDescriptionName == 'pdf'">Specification</div>
												<div ng-if="deviceDescriptionName == 'color_or_mono'">Color or B&W?</div>
												<div ng-if="deviceDescriptionName == 'paper_size'">Max Paper Size?</div>
												<div ng-if="deviceDescriptionName == 'speed'">Speed</div>
											</div>
											<div class="col-xs-6 col-md-8 device_param_value" ng-if="deviceDescriptionValue != null">
												<div ng-if="deviceDescriptionName == 'pdf'">
													<a target="_self" href="{{ deviceDescriptionValue }}">
														LINK
													</a>
												</div>
												<div ng-if="deviceDescriptionName == 'color_or_mono'">
													<span ng-if="deviceDescriptionValue == 'color'">Color/B&W</span>
													<span ng-if="deviceDescriptionValue == 'mono'">B&W</span>
												</div>
												<div ng-if="deviceDescriptionName == 'paper_size'">
													<span ng-if="deviceDescriptionValue == 'letter/legal'">Letter/Legal</span>
													<span ng-if="deviceDescriptionValue == 'letter/legal/11x17'">Letter/Legal/11x17</span>
												</div>
												<div ng-if="deviceDescriptionName == 'speed'">
													{{ deviceDescriptionValue }} Pages per Minute
												</div>
											</div>
										</div> 
										<div class="parameter" ng-repeat="(deviceDescriptionId, deviceDescriptions) in quote.custom_descriptions[quotedDevice.id]"> 
												<div class="col-xs-6 col-md-4 device_param_name" ng-if="deviceDescriptions.value != null">
													{{ deviceDescriptions.name }}&nbsp;
												</div>
												<div class="col-xs-6 col-md-8 device_param_value"  ng-if="deviceDescriptions.value != null">
													{{ deviceDescriptions.value }}&nbsp;
												</div> 
										</div>
									</div> 
									<div class="parameters_block">
										<div class="parameter" ng-if="quote.prices[quotedDevice.id].maintenance_price > 0">
											<div class="col-xs-6 col-md-4 device_param_name">
												Service Base Cost:
											</div>
											<div class="col-xs-6 col-md-8 device_param_value">
												{{ quote.prices[quotedDevice.id].maintenance_price }}
												&nbsp;
											</div>
										</div>
										<div class="parameter"
											ng-if="quotedDevice.color_or_mono == 'color' && quote.included_pages[quotedDevice.id].color != null">
											<div class="col-xs-6 col-md-4 device_param_name">
												Includes {} Color Pages
											</div>
											<div class="col-xs-6 col-md-8 device_param_value">
												{{ quote.included_pages[quotedDevice.id].color }}
												&nbsp;
											</div>
										</div>
										<div class="parameter"
											ng-if="quote.included_pages[quotedDevice.id].color != null">
											<div class="col-xs-6 col-md-4 device_param_name">
												Includes {} B&W Pages
											</div>
											<div class="col-xs-6 col-md-8 device_param_value">
												{{ quote.included_pages[quotedDevice.id].mono }}
												&nbsp;
											</div>
										</div>
									</div>
									<div class="parameters_block">
										<div class="parameter" ng-if="quotedDevice.color_or_mono == 'color'">
											<div class="col-xs-6 col-md-4 device_param_name">
												Additional Color Prints
											</div>
											<div class="col-xs-6 col-md-8 device_param_value">											
												{{ quote.prices[quotedDevice.id].cost_per_color_page * 100 | number:1 }} cents/page
												&nbsp;
											</div>
										</div>
										<div class="parameter" ng-show="quote.prices[quotedDevice.id].cost_per_mono_page != null">
											<div class="col-xs-6 col-md-4 device_param_name">
												Additional B&W Prints
											</div>
											<div class="col-xs-6 col-md-8 device_param_value">
												{{ quote.prices[quotedDevice.id].cost_per_mono_page * 100 | number:1   }} cents/page
												&nbsp;
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 device_photo" style="margin-bottom: 40px;" vertilize  >
									<div class="image_block"> 
										<img ng-src="{{ quotedDevice.image }}" />
									</div>
									<div class="price_and_pdf">
										<div class="outright_price">										
											<span ng-if="outrightPrices[quotedDevice.id] > 0" style="display:block;">
												Outright Purchase Price: ${{ outrightPrices[quotedDevice.id] }} 
											</span>
										</div>
										<div class="pdf_link_wrapper">
											<a target="_self" href="{{quote.devices_desc[quotedDevice.id].ced}}" class="view_pdf" ng-if="quote.devices_desc[quotedDevice.id].ced != null">
												<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
												View CED
											</a>
										</div>
										<div class="pdf_link_wrapper">
											<a target="_self" href="{{quote.devices_desc[quotedDevice.id].pdf}}" class="view_pdf" ng-if="quote.devices_desc[quotedDevice.id].pdf != null">
												<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
												View PDF
											</a>
										</div>
										<div class="clearfix">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="detailed_device_calc_block">
							<div class="col-md-6 detailed_device_options">
								<h4>
									Purchase and Lease Options for {{ quotedDevice.model }}
								</h4>

								<strong ng-if="outrightPrices[quotedDevice.id] > 0" style="margin-bottom: 20px; display: block;">
									Outright Purchase Price: ${{ outrightPrices[quotedDevice.id] }}
								</strong> 
								
								
								<div ng-repeat="accessory in quotedDevice.accessories">
									
									<div class="accessories_for_devices_block" ng-if="quote.added_accessories[quotedDevice.id][accessory.id] != 0">
										<input type="checkbox"
											   class="accessories_for_devices checkbox"
											   id="accessory_{{ quotedDevice.id }}_{{ accessory.id }}"
											   ng-checked="selectedAccessoriesWithPrices[quotedDevice.id][accessory.id].status == 2"
											   ng-model="selectedAccessoriesWithPrices[quotedDevice.id][accessory.id].status"
											   ng-true-value="2"
											   ng-false-value="1"
											   ng-click="recalculatePrice(quotedDevice.id)"
										/>
										<label for="accessory_{{ quotedDevice.id }}_{{ accessory.id }}">
											{{ accessory.description }} | Price: ${{ selectedAccessoriesWithPrices[quotedDevice.id][accessory.id].price }}
										</label>
									</div>
								</div>
								<div ng-repeat="custom_accessory in quote.custom_accessories[quotedDevice.id]">
								
									<div class="accessories_for_devices_block">
										<input type="checkbox"
											   class="accessories_for_devices checkbox"
											   id="custom_accessory_{{ quotedDevice.id }}_{{ custom_accessory.id }}"
											   ng-checked="selectedCustomAccessoriesWithPrices[quotedDevice.id][custom_accessory.id] != null"
											   ng-model="selectedCustomAccessoriesWithPrices[quotedDevice.id][custom_accessory.id]"
											   ng-true-value="{{custom_accessory.price}}"
											   ng-false-value="0"
											   ng-click="recalculatePrice(quotedDevice.id)"
										/>
										<label for="custom_accessory_{{ quotedDevice.id }}_{{ custom_accessory.id }}">{{ custom_accessory.description }} | Price: ${{ custom_accessory.price }}</label>
									</div>
								</div>
							</div>
							<div class="col-md-6 detailed_device_calculation">
								<h4>
									FMV (Lease to Return Rates)
								</h4>
								Using Outright Purchase + Accessories
								<div class="fmv_table calc_table">
									<div class="table_header">
										<div class="fmv_cell">1 Year</div>
										<div class="fmv_cell">2 Years</div>
										<div class="fmv_cell">3 Years</div>
										<div class="fmv_cell">4 Years</div>
										<div class="fmv_cell">5 Years</div>
									</div>
									<div class="table_body">
										<div class="fmv_cell"
											 ng-repeat="(i, n) in rates.fmv[3000]">
											${{ outrightPricesWithRates[quotedDevice.id].fmv[i] }}
										</div>
									</div>
								</div>
								<h4>
									$1 Out Lease (Lease to Own)
								</h4>
								<div class="dollar_out_table calc_table">
									<div class="table_header">
										<div class="fmv_cell">1 Year</div>
										<div class="fmv_cell">2 Years</div>
										<div class="fmv_cell">3 Years</div>
										<div class="fmv_cell">4 Years</div>
										<div class="fmv_cell">5 Years</div>
									</div>
									<div class="table_body">
										<div class="fmv_cell"
											 ng-repeat="(i, n) in rates.oneOut[3000]">
											${{ outrightPricesWithRates[quotedDevice.id].oneOut[i] }}
										</div>
									</div>
								</div>
								<h4>
									How did we do?
								</h4>
								In terms of speed:
								<br>
								<div style="width:100%;" class="how_did_we_do_buttons">
									<div class="button_wrapper">
									 	<input type="radio"
											   class="radio"
											   id="how_did_we_do_{{ quotedDevice.id }}_speed_fast"
											   ng-model="howDidWeDo[quotedDevice.id].speed"
												value="fast"
										/>
										<label for="how_did_we_do_{{ quotedDevice.id }}_speed_fast">
											Too Fast
										</label>
									</div>
									<div class="button_wrapper">
										<input type="radio"
											   class="radio"
											   id="how_did_we_do_{{ quotedDevice.id }}_speed_slow"
											   ng-model="howDidWeDo[quotedDevice.id].speed"
												value="slow" 
										/>
										<label for="how_did_we_do_{{ quotedDevice.id }}_speed_slow">
											Too Slow
										</label>
									</div>
									<div class="button_wrapper">
										<input type="radio"
											   class="radio"
											   id="how_did_we_do_{{ quotedDevice.id }}_speed_right"
											   ng-model="howDidWeDo[quotedDevice.id].speed"
												value="right"
										/>
										<label for="how_did_we_do_{{ quotedDevice.id }}_speed_right">
											About Right
										</label>
									</div>
									<div class="clearfix">
									</div>
								</div>
								In terms of price:
								<br>
								<div style="width:100%;" class="how_did_we_do_buttons">
									<div class="button_wrapper">
									 	<input type="radio"
											   class="radio"
											   id="how_did_we_do_{{ quotedDevice.id }}_price_expensive"
											   ng-model="howDidWeDo[quotedDevice.id].price"
												value="expensive"
										/>
										<label for="how_did_we_do_{{ quotedDevice.id }}_price_expensive">
											Too Expensive
										</label>
									</div>
									<div class="button_wrapper">
										<input type="radio"
											   class="radio"
											   id="how_did_we_do_{{ quotedDevice.id }}_price_cheap"
											   ng-model="howDidWeDo[quotedDevice.id].price"
												value="cheap" 
										/>
										<label for="how_did_we_do_{{ quotedDevice.id }}_price_cheap">
											Too Cheap
										</label>
									</div>
									<div class="button_wrapper">							
										<input type="radio"
											   class="radio"
											   id="how_did_we_do_{{ quotedDevice.id }}_price_right"
											   ng-model="howDidWeDo[quotedDevice.id].price"
												value="right"
										/>
										<label for="how_did_we_do_{{ quotedDevice.id }}_price_right">
											About Right
										</label>
									</div>
									<div class="clearfix">
									</div>
								</div>

								<div class="submit_buttons">
									<div class="button" ng-if="1==0">
										Re-Calculate
									</div>
									<div class="button" ng-click="saveCalculation(quote.guid, quotedDevice.id)">
										Accept Proposal
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>