<div ng-controller="ClientController">
	<div class="container">
		<div class="row">
			<div class="quote_main_page animate-show" ng-show="showQuoteMainPage">

				<div class="page_header">
					<div class="col-md-6 pahoda_header left">
						<div class="pahoda_logo">
						</div>
						<div class="official_quote">
							Official Quote
						</div>
					</div>

					<div class="col-md-6 pahoda_header right">
						<div class="quote_editor">
							<i class="fa fa-user" aria-hidden="true"></i>
							<strong>Jesse Harwell</strong>
						</div>
						<div class="quote_contact_email">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<strong>
								<a href="mailto:jesse@pahoda.com">jesse@pahoda.com</a>
							</strong>
						</div>
						<div class="quote_contact_phone">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<strong>720-356-0248</strong>
						</div>
						<div class="quote_photo">
						</div>
					</div>
				</div>
				<div class="content">
					<h2 style="text-align: center; font-weight:bold;">
						SUMMARY OF COPIER QUOTE
					</h2>
					<div id="quoted_devices_list">
						<div class="device_info_block" ng-repeat="quotedDevice in quote.devices">
							<div class="header" style="width:100%; float:left; margin-bottom:30px;">
								<div class="col-md-6 device_title">
									<div>{{ quotedDevice.model | trim }}<br>
										<div style="height:2px; width:90px; background:#51b2df;"></div>
									</div>
								</div>
								<div class="col-md-6">
								</div>
							</div>
							<div class="description" style="min-height:300px;">
								<div class="col-md-6 device_parameters" style="background:#e6e6e6; height:300px; margin-bottom: 40px; padding:60px 30px; font-size: 20px; line-height:30px;">
									<div ng-repeat="(deviceDescriptionName, deviceDescriptionValue) in quote.devices_desc[quotedDevice.id]">
										 {{ deviceDescriptionName }} : {{ deviceDescriptionValue }}
									 </div>
								</div>
								<div class="col-md-6 device_photo" style="background:#51b2df; height:300px; margin-bottom: 40px;">
									<img ng-src="public/img/devices/{{ quotedDevice.image }}" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="bottom-menu">
					<h4 style="font-weight:bold; text-align:center; margin-bottom:30px;">
						Total Monthly Amounts And/Or Lease Amounts
					</h4>
					<div class="quoted_devices_menu">
						<div ng-repeat="quotedDevice in quote.devices">
							<div class="col-md-2 menu_item" ng-click="showQuotedDevice(quotedDevice.id)">
								{{ quotedDevice.model }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Quoted Devices -->
		</div>
	</div>	 

	<div class="detailed_device_page_header" ng-show="showQuotedDeviceBlock">				 
	
		<div class="container">
			<div class="row">
				<div class="col-md-6 pahoda_header left">
					<div class="pahoda_logo">
					</div>
					<div class="official_quote">
						Official Quote
					</div>
				</div>

				<div class="col-md-6 pahoda_header right">
					<div class="col-md-4 contacts">
						<div class="quote_editor">
							<i class="fa fa-user" aria-hidden="true"></i>
							<strong>Jesse Harwell</strong>
						</div>
						<div class="quote_contact_email">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<strong>
								<a href="mailto:jesse@pahoda.com">jesse@pahoda.com</a>
							</strong>
						</div>
						<div class="quote_contact_phone">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<strong>720-356-0248</strong>
						</div>
					</div>
					<div class="col-md-8">
						<div class="quote_photo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
			
	<div ng-repeat="quotedDevice in quote.devices">
		<div class="detailed_device_block animate-show" ng-show="showQuotedDeviceBlock && deviceToShow[quotedDevice.id]" style="margin-bottom:500px;">
									
			<div class="container">
				<div class="row">
					<div id="device_{{ quotedDevice.id }}">
						<h2 style="text-align: center; font-weight:bold; text-transform: uppercase;">
							YOUR QUOTE OF {{ quotedDevice.model }}
						</h2>

						<div class="detailed_device_header_block">
							<div class="header" style="width:100%; float:left; margin-bottom:20px;">
								<div class="col-md-6 device_title">
									<div>
										Basic Copier Specs
									</div>
								</div>
								<div class="col-md-6">
								</div>
							</div>
							<div class="description" style="min-height:300px;">
								<div class="col-md-6 device_parameters">
									<div class="parameters_block">
										<div class="parameter" ng-repeat="(deviceDescriptionName, deviceDescriptionValue) in quote.devices_desc[quotedDevice.id]">
											<div class="col-md-4 device_param_name">
												{{ deviceDescriptionName }}&nbsp;
											</div>
											<div class="col-md-8 device_param_value">
												{{ deviceDescriptionValue }}&nbsp;
											</div>
										</div>
									</div>
									<div class="parameters_block">
										<div class="parameter">
											<div class="col-md-6 device_param_name">
												Service Base Cost:
											</div>
											<div class="col-md-6 device_param_value">
												{{ quote.prices[quotedDevice.id].base }}
												&nbsp;
											</div>
										</div>
										<div class="parameter">
											<div class="col-md-6 device_param_name">
												Includes {} B&W Pages
											</div>
											<div class="col-md-6 device_param_value">
												????????????????????
												&nbsp;
											</div>
										</div>
									</div>
									<div class="parameters_block">
										<div class="parameter" ng-if="quotedDevice.color_or_mono == 'color'">
											<div class="col-md-4 device_param_name">
												Additional Color Prints
											</div>
											<div class="col-md-8 device_param_value">
												{{ quote.prices[quotedDevice.id].cost_per_color_page * 1000  }} cents/page
												&nbsp;
											</div>
										</div>
										<div class="parameter">
											<div class="col-md-4 device_param_name">
												Additional B&W Prints
											</div>
											<div class="col-md-8 device_param_value">
												{{ quote.prices[quotedDevice.id].cost_per_mono_page * 1000  }} cents/page
												&nbsp;
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 device_photo">
									<div class="image_block">
										<img ng-src="public/img/devices/{{ quotedDevice.image }}" />
									</div>
									<div class="price_and_pdf">
										<div class="outright_price">
											<span ng-if="outrightPrices[quotedDevice.id] > 0">
												Outright Purchase Price: ${{ outrightPrices[quotedDevice.id] }} 
											</span>
										</div>
										<a href="#" class="view_pdf" ng-if="quote.devices_desc[quotedDevice.id].pdf != null">
											<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
											View PDF
										</a>
										<div class="clearfix">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="detailed_device_calc_block">
							<div class="col-md-6 detailed_device_options">
								<h4>
									Purchase and Lease Options for {{ quotedDevice.model }}
								</h4>

								<strong ng-if="outrightPrices[quotedDevice.id] > 0">
									Outright Purchase Price: ${{ outrightPrices[quotedDevice.id] }}
									<!-- <span count-to="{{ outrightPrices[quotedDevice.id] }}" value="{{ prevOutrightPrices[quotedDevice.id] }}" duration="1"></span> -->
								</strong>
								<br>
								<br>
								<div ng-repeat="accessory in quotedDevice.accessories">
									<div class="accessories_for_devices_block">
										<input type="checkbox"
											   class="accessories_for_devices checkbox"
											   id="accessory_{{ quotedDevice.id }}_{{ accessory.id }}"
											   ng-checked="selectedAccessoriesWithPrices[quotedDevice.id][accessory.id] != null"
											   ng-model="selectedAccessoriesWithPrices[quotedDevice.id][accessory.id]"
											   ng-true-value="{{accessory.price}}"
											   ng-false-value="0"
											   ng-click="recalculatePrice(quotedDevice.id)"
										/>
										<label for="accessory_{{ quotedDevice.id }}_{{ accessory.id }}">{{ accessory.description }} | Price: {{ accessory.price }}</label>
									</div>
								</div>
							</div>
							<div class="col-md-6 detailed_device_calculation">
								<h4>
									FMV (Lease to Return Rates)
								</h4>
								Using Outright Purchase + Accessories
								<div class="fmv_table calc_table">
									<div class="table_header">
										<div class="fmv_cell">1 Year</div>
										<div class="fmv_cell">2 Years</div>
										<div class="fmv_cell">3 Years</div>
										<div class="fmv_cell">4 Years</div>
										<div class="fmv_cell">5 Years</div>
									</div>
									<div class="table_body">
										<div class="fmv_cell"
											 ng-repeat="fmvPriceWithRate in outrightPricesWithRates[quotedDevice.id].fmv">
											${{ fmvPriceWithRate }}
										</div>
									</div>
								</div>
								<h4>
									$1 Out Lease (Lease to Own)
								</h4>
								<div class="dollar_out_table calc_table">
									<div class="table_header">
										<div class="fmv_cell">1 Year</div>
										<div class="fmv_cell">2 Years</div>
										<div class="fmv_cell">3 Years</div>
										<div class="fmv_cell">4 Years</div>
										<div class="fmv_cell">5 Years</div>
									</div>
									<div class="table_body">
										<div class="fmv_cell"
											 ng-repeat="oneOutPriceWithRate in outrightPricesWithRates[quotedDevice.id].oneOut">
											${{ oneOutPriceWithRate }}
										</div>
									</div>
								</div>

								<div class="submit_buttons">
									<div class="button" ng-if="1==0">
										Re-Calculate
									</div>
									<div class="button" ng-click="saveCalculation(quote.guid, quotedDevice.id)">
										Accept Proposal
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>